p {
  font-size: 16px;
  font-weight: 500; }

main {
  margin: 2em auto;
  height: 100%;
  text-align: center; }

/* MIXINS */
* {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  font-family: 'Montserrat', sans-serif;
  height: 100% !important; }

body {
  min-height: 100% !important; }

.carousel-inner {
  max-height: 80vh; }

@media (max-width: 576px) {
  .section1 {
    text-align: center !important; } }

.redes a {
  text-decoration: none;
  color: #fff; }

h1 {
  animation: text-shadow 1.5s ease-in-out infinite; }

.contacto {
  margin: 3rem 0; }

iframe {
  max-width: 100%;
  height: 50vh;
  margin: 3rem 0; }

main h1 {
  color: goldenrod;
  margin-bottom: 1em; }

.formulario {
  margin-bottom: 2em; }

.btn {
  background-color: goldenrod;
  min-width: 25%; }

footer {
  margin-bottom: 1em; }

.animate {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, goldenrod 0%, #744b01 29%, goldenrod 50%, #eee963 75%, goldenrod 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 3rem; }

@keyframes textclip {
  to {
    background-position: 200% center; } }

h1 {
  animation: text-shadow 1.5s ease-in-out infinite; }

p {
  font-size: 16px;
  font-weight: 500; }

main {
  margin: 2em auto;
  height: 100%;
  text-align: center; }

/* MIXINS */
.yourBestMemory {
  color: black; }

footer {
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
  grid-area: footer;
  padding-top: 1em; }

footer a {
  text-decoration: none;
  color: #fff; }

footer a:hover {
  color: goldenrod; }

p {
  color: black; }

.redes a {
  margin-left: 0.5em; }

.contacto {
  margin: 3rem 0; }

.contenidoServicios {
  background-color: goldenrod;
  height: auto;
  padding: 2em;
  border-radius: 6px; }
  .contenidoServicios p {
    margin: 3em 5em; }
  .contenidoServicios h2 {
    margin-bottom: 1em; }
  .contenidoServicios img:hover {
    box-shadow: 8px 12px 5px -4px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 8px 12px 5px -4px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 8px 12px 5px -4px rgba(0, 0, 0, 0.43); }
