*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html{
    font-family: 'Montserrat', sans-serif;
}

body{
    
}

header{
    height: auto ;
}

#footer{
    background-color: black;
    border-top: 2px goldenrod solid;
}