*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body{
   min-height: 100%;
}

.carousel-inner{
    max-height: 80%;

}


    @media (max-width:576px) {
        .section1{
            text-align: center !important;
        }
    }

    footer{
        grid-area: footer;
        background-color: black;
        text-align: center;
        padding-top: 1em;
    }
    
    footer a{
        text-decoration: none;
        color: #fff;
    }
    
    footer a:hover{
        color: goldenrod;
    }