@import './base/_extends';

.yourBestMemory{
    color: $color-secundario;
}

footer {
    grid-area: footer;
    background-color: black;
    text-align: center;
    padding-top: 1em; }

p{
    @extend %parrafo;
    color: black;
}