@import './base/_extends';

.yourBestMemory{
    color: $color-secundario;
}

footer{
    @include footer1 (black, white, center);
    grid-area: footer;
    padding-top: 1em;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    color: $color-principal;
}

p{
    @extend %parrafo;
    color: black;
}

.redes a{
    margin-left: 0.5em;
}
