%parrafo{
    font-size: 16px;
}

%contenido{
    margin: 2em auto;
    height: 100%;
    text-align: center;
}

/* MIXINS */
@mixin footer1 ($bg-color, $textcolor, $texalign) {
    background-color: $bg-color;
    color: $textcolor;
    text-align: $texalign;
    align-items: center;
}