%parrafo{
    font-size: 14px;
    font-weight: 500;
}

%contenido{
    padding: 2em;
    margin: 1em auto;
    height: 100%;
    text-align: center;
    color: green;
}

/* MIXINS */
@mixin footer1 ($bg-color, $textcolor, $texalign) {
    background-color: $bg-color;
    color: $textcolor;
    text-align: $texalign;
}