%parrafo{
    font-size: 12px;
    font-weight: 300;
}

/* MIXINS */
@mixin footer1 ($bg-color, $textcolor, $texalign) {
    background-color: $bg-color;
    color: $textcolor;
    text-align: $texalign;
}